/**-
	浮动布局
-**/
.@{css-prefix}row{
	display: block;
	margin-left: -10px;
	margin-right: -10px;
}
.@{css-prefix}row
.@{css-prefix}col{
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.wd(@wd:10%){
	width: @wd;
}
.@{css-prefix}col-10,
.@{css-prefix}col-20,
.@{css-prefix}col-25,
.@{css-prefix}col-33,
.@{css-prefix}col-50,
.@{css-prefix}col-67,
.@{css-prefix}col-75,
.@{css-prefix}col-80,
.@{css-prefix}col-90{
    float: left;
}

.@{css-prefix}col-10{
	.wd;
}
.@{css-prefix}col-20{
	.wd(20%);
}
.@{css-prefix}col-25{
	.wd(25%);
}
.@{css-prefix}col-33{
	.wd(33.3333%);
}
.@{css-prefix}col-50{
	.wd(50%);
}
.@{css-prefix}col-67{
	.wd(66.6666%);
}
.@{css-prefix}col-75{
	.wd(75%);
}
.@{css-prefix}col-80{
	.wd(80%);
}
.@{css-prefix}col-90{
	.wd(90%);
}

/**-
	盒子布局
-**/
.@{css-prefix}row-flex{
	.webkit-box();
    -webkit-box-sizing: border-box;
}

.@{css-prefix}row-flex .@{css-prefix}col-1{
	.box-flex();
}
.@{css-prefix}row-flex .@{css-prefix}col-2{
	.box-flex(2);
}
.@{css-prefix}row-flex .@{css-prefix}col-3{
	.box-flex(3);
}
.@{css-prefix}row-flex .@{css-prefix}col-4{
	.box-flex(4);
}
